<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ict.mapper.BoardMapper">
	<!-- select구문을 날릴 예정이므로 select태그를, id는 연동 메서드명
		resultType은 리턴 자료형을 "소문자만 써서" 작성하면 됩니다. -->
	
	<!-- 테이블 전체조회 -->
	<select id="getList" resultType="com.ict.vo.BoardVO">
		<![CDATA[
			SELECT * FROM board_tbl ORDER BY bno
		]]>
	</select>
	
	<!-- 추가 -->
	<select id="insertBoard" resultType="com.ict.vo.BoardVO">
		<![CDATA[
			INSERT INTO board_tbl (bno, title, content, writer) VALUES (board_num.nextval, #{title}, #{content}, #{writer})			
		]]>
	</select>
	
	<select id="getboard" resultType="com.ict.vo.BoardVO">
		<![CDATA[
			SELECT * FROM board_tbl WHERE bno = #{bno}
		]]>
	</select>
	
	<select id="delBoard" resultType="com.ict.vo.BoardVO">
		<![CDATA[
			delete FROM board_tbl WHERE bno = #{bno}
		]]>
	</select>
	
	<select id="upDateBoard" resultType="com.ict.vo.BoardVO">
		<![CDATA[
			UPDATE board_tbl SET title=#{title}, content=#{content}, updatedate=sysdate WHERE bno=#{bno}
		]]>
	</select>
</mapper>

	